.md-form{
    display: none;
    
    .md-close-form{
        position: fixed;
        right:0px;
        top:0px;
        z-index: 2;
        font-size: 2.5rem;
        font-weight: 300;
        padding:10px 20px;
        color:#fff;
        background-color:#f45517;
        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        
        &:hover{
            color:#000;
            background-color:#fff500;
        }
    }

    #searchform{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color:rgba(255, 255, 255, .7);
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        .md-inserach{
            width:40%;
            height: 50px;
            border: 0px;
            border-radius: 0px;
            border:1px solid transparent;
            box-shadow: none;
            transition: ease-in-out 300ms;
            -webkit-transition: ease-in-out 300ms;
            
            &:focus{
                outline: none;
                box-shadow: none;
                border:1px solid #f45517;
                border-width:1px 1px 1px 5px; 
            }
        }
        
        .md-btsearch{
            color:#fff;
            height: 50px;
            width: 100px;
            background-color:#f45517;
            text-transform: uppercase;
            border:solid 2px transparent;
            transition: ease-in-out 300ms;
            -webkit-transition: ease-in-out 300ms;
            
            &:hover{
                font-weight: 500;
                color:#000;
                background-color:#fff500;
                border-width:1px 1px 1px 0px; 
            }
        }
        
    }
}