body{
    font-family: 'Poppins', sans-serif;
}

.md-blur{
    filter: blur(.5rem);
}

.md-menu{
    z-index: 10;

    .navbar{
        margin-bottom: 0px;
        height: 77px;
    }

    .navbar-brand{
        height: 76px;
        padding: 0;
        width: 80px;
        
        img{
            position: absolute;
            z-index: 2;
        }
    }

    .collapse.navbar-left{
        a{
            padding: 2.8rem 1.5rem;
            display: block;
            color:#000;
            font-weight: 500;
            font-size: 1.6rem;
            
            &:hover, &:focus{
                text-decoration: none;
            }
                    
        }
        
        ul.navbar-nav{
                
            li{
                &:nth-child(1){
                    a{
                        position: relative;
                        background-color:transparent;
                        transition: ease-in-out 300ms;
                        -webkit-transition: ease-in-out 300ms;
                        
                        &:after{
                            content: '';
                            position: absolute;
                            background-color:#00ffc0;
                            height: 0px;
                            width: 100%;
                            top:0px;
                            left:0px;
                            z-index: -1;
                            transition: ease-in-out 300ms;
                            -webkit-transition: ease-in-out 300ms;
                        }
                        
                        &:hover{
                            &:after{
                                height: 100%;
                            }
                        }
                    }
                }

                &:nth-child(2){
                    a{
                        position: relative;
                        background-color:transparent;
                        transition: ease-in-out 300ms;
                        -webkit-transition: ease-in-out 300ms;
                        
                        &:after{
                            content: '';
                            position: absolute;
                            background-color:#38eaff;
                            height: 0px;
                            width: 100%;
                            top:0px;
                            left:0px;
                            z-index: -1;
                            transition: ease-in-out 300ms;
                            -webkit-transition: ease-in-out 300ms;
                        }
                        
                        &:hover{
                            &:after{
                                height: 100%;
                            }
                        }
                    }
                }

                &:nth-child(3){
                    a{
                        position: relative;
                        background-color:transparent;
                        transition: ease-in-out 300ms;
                        -webkit-transition: ease-in-out 300ms;
                        
                        &:after{
                            content: '';
                            position: absolute;
                            background-color:#fff500;
                            height: 0px;
                            width: 100%;
                            top:0px;
                            left:0px;
                            z-index: -1;
                            transition: ease-in-out 300ms;
                            -webkit-transition: ease-in-out 300ms;
                        }
                        
                        &:hover{
                            &:after{
                                height: 100%;
                            }
                        }
                    }
                }

                &:nth-child(4){
                    a{
                        position: relative;
                        background-color:transparent;
                        transition: ease-in-out 300ms;
                        -webkit-transition: ease-in-out 300ms;
                        
                        &:after{
                            content: '';
                            position: absolute;
                            background-color:#e8005d;
                            height: 0px;
                            width: 100%;
                            top:0px;
                            left:0px;
                            z-index: -1;
                            transition: ease-in-out 300ms;
                            -webkit-transition: ease-in-out 300ms;
                        }
                        
                        &:hover{
                            &:after{
                                height: 100%;
                            }
                        }
                    }
                }

                &:nth-child(5){
                    a{
                        position: relative;
                        background-color:transparent;
                        transition: ease-in-out 300ms;
                        -webkit-transition: ease-in-out 300ms;
                        
                        &:after{
                            content: '';
                            position: absolute;
                            background-color:#f45517;
                            height: 0px;
                            width: 100%;
                            top:0px;
                            left:0px;
                            z-index: -1;
                            transition: ease-in-out 300ms;
                            -webkit-transition: ease-in-out 300ms;
                        }
                        
                        &:hover{
                            color:#fff;
                            &:after{
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .collapse.navbar-right{
        // padding: 1.4rem 0 0 0 ;
        color:#000;
        font-weight: 500;
        font-size: 1.6rem;
        
        a{
            display: block;        
            
            &:hover, &:focus{
                text-decoration: none;
            }
        }
        
        .md-facebook{
            color:#3b5cb0;
            font-size: 2rem;
            font-weight: 300;
            padding: 10px 14px;;
            background-color:transparent;
            border-radius: 50px;
            margin-right: 10px;
            transition: ease-in-out 300ms;
            -webkit-transition: ease-in-out 300ms;
            
            &:hover{
                color:#fff;
                background-color:#3b5cb0;
            }
        }
        
        .md-youtube{
            color:#fc0000;
            font-size: 2rem;
            font-weight: 300;
            padding: 10px 12px;;
            background-color:transparent;
            border-radius: 50px;
            margin-right: 10px;        
            transition: ease-in-out 300ms;
            -webkit-transition: ease-in-out 300ms;
            
            &:hover{
                color:#fff;
                background-color:#fc0000;
            }
        }
        
        .md-donate{
            margin-top: 15px;
            margin-right: 10px;
            background-color: #f45517;
            border: .2rem solid transparent;
            color: #fff;
            font-weight: 300;
            line-height: 3.6rem;
            padding: 0 2rem;
            text-align: center;
            text-transform: uppercase;
            transition: ease-in-out 300ms;
            -webkit-transition: ease-in-out 300ms;
            
            &:hover{
                color:#f45517;
                background-color:#fff;
                border: .2rem solid #f45517;
            }
        }
        
        img{
            margin-top: 5px;
            padding:5px 4px;
            transition: ease-in-out 300ms;
            -webkit-transition: ease-in-out 300ms;
            
            &:hover{
                background-color: #e6e6e6;
            }
        }
    }

    .md-search{
        margin-left: 10px;
        margin-top: 5px;
        font-size: 2.9rem;
        color:#000;
        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        
        &:hover, &:focus{
            color:#f45517;
        }
    }
}

.md-about-slide{
    height: 550px;
    padding: 28rem;
    
    .md-title{        
        display: block;
        text-align: center;                              
    }
    
    .md-title.bluesky{
        background-color: #38eaff;
        padding: 10px 0px;
        font-size: 3.5rem;
        font-weight: 400;          
        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        color:#000;
        
        &:hover{
            background-color:#fff;
            text-decoration: none;
        }  
    }
    
    .md-link{        
        display: block;
        margin: 50px auto;
        text-align: center;
        font-size: 1.6rem;
        background-color:#fff;
        padding: 5px 10px;
        color:#000;
        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        
        &:hover{
            text-decoration: none;
        }
    }
    
    .md-link.bluesky{
        width: 220px;
        
        &:hover{
            background-color: #38eaff;
        }
    }
    
    .md-title.yellow{        
        padding: 10px 0px;
        font-size: 3.5rem;
        font-weight: 400;          
        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        color:#000;
        
        span{
            background-color: #fff500;
        }
        
        strong{
            width: 530px;
            margin: 2px auto;
            background-color: #fff500;
            display: block;
        }
        
        &:hover{
            text-decoration: none;
            
            span, strong{
                background-color:#fff;                
            }
        }  
    }
    
    
    .md-link.yellow{
        width: 720px;
        
        &:hover{
            background-color: #fff500;
        }
    }
}